.cart-container > div{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 522px);
}

.cart-box {
    width: 100%;
    max-height: 120px;
    min-height: 70px;
}

.gameTitle {
    font-size: .9em;
    text-shadow: 2px 2px 2px #000;
}

.gamePrice, .gameAmount{
    font-size: .7em;
}

.gameTitle:hover {
    text-decoration: underline;
}

.cart-box>img {
    display: flex;
    object-fit: cover;
    width: 30%;
}

.cart-box>div{
    width: 70%;
}

.cartGamesBox {
    width: 100%;
    gap: 30px;
}

.cartBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    font-size: .8em;
}

.resumeGamesBox {
    min-width: 280px;
    align-self: center;
}

.creditCardBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 200px;
}

.creditCardBox>h3 {
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

.buyGameAlert {
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
    width: 300px;
    right: 30%;
    top: 40%;
    padding: 10px;
    margin: 0;
    gap: 10px;
}

.spinner,
.spinner:after {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.spinner {
    background-color: transparent;
    border-top: 5px solid rgb(66, 139, 202);
    border-right: 0px solid rgb(66, 139, 202);
    border-bottom: 5px solid rgb(66, 139, 202);
    border-left: 0px solid rgba(66, 139, 202, .2);
    animation: spinner 3s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 425px) {
    .cart-box {
        max-width: 80%;
        align-self: center;
    }

    .gameDetails-box, #otherGames-container, #cards-games-box, #tags-games-box{
        width: 80%;
    }

    .frontPageCard-price{
        font-size: .9em;
    }
}

@media only screen and (min-width: 768px) {
    .frontPage-container{
        height: 250px;
    }

    .frontPage-gradient {
        width: 70%;
    }

    .card-title-main{
        font-size: 1.5em;
    }

    .frontPageCard-price{
        font-size: 1em;
    }

    .cart-container > div {
        flex-direction: row;
    }

    .resumeGamesBox{
        min-width: 320px;
        align-self: flex-start;
    }

    .searchBar-container > form{
        width: 100%;
    }

    .navbar-collapse{
        flex: 0;
    }

    .gameplay-box{
        height: 350px;
    }

    .gameDetails-box{
        gap: 20px;
    }

    .gameDetails-box, #otherGames-container, #cards-games-box, #tags-games-box{
        width: 70%;
    }
}

@media only screen and (min-width: 1024px) {
    .frontPage-container{
        height: 300px;
    }

    .frontPage-gradient {
        width: 65%;
    }

    .gameBackgroundContainer{
        height: 560px;
    }

    .gameFrontPage{
        max-width: 70%;
    }

    .gameplay-box{
        height: 350px;
    }

    .gameDetails-box, #otherGames-container, #cards-games-box, #tags-games-box{
        width: 60%;
    }
}

@media only screen and (min-width: 1440px) {
    .frontPage-container{
        height: 350px;
    }

    .frontPage-gradient {
        width: 70%;
    }

    .logo-box{
        width: 10%;
    }

    .searchBar-container{
        width: 30%;
    }

    .gameSearched-box{
        width: 26%;
    }

    .gameplay-box{
        width: 85%;
    }

    .gameDetails-box{
        gap: 40px;
    }

    .gameDetails-box, #otherGames-container, #cards-games-box, #tags-games-box{
        width: 55%;
    }
}

@media only screen and (min-width: 2560px) {
    .gameplay-box{
        height: 700px;
        width: 80%;
    }

    .gameDetails-box{
        gap: 40px;
    }
}