.cart-container {
    min-height: calc(100vh - 144px);
}

.cart-box {
    height: 100px;
    width: 100%;
}

.gameTitle {
    text-shadow: 2px 2px 2px #000;
}

.gameTitle:hover {
    text-decoration: underline;
}

.cart-box>img {
    display: flex;
    object-fit: cover;
    width: 35%;
}

.cartGamesBox {
    width: 60%;
}

.resumeGamesBox {
    width: 35%;
    height: 30%;
}

.creditCardBox {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 200px;
    width: 200px;
}

.creditCardBox>h3 {
    font-size: 1em;
}

.buyGameAlert {
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
    width: 300px;
    right: 30%;
    top: 40%;
    padding: 10px;
    margin: 0;
    gap: 10px;
}

.spinner,
.spinner:after {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.spinner {
    background-color: transparent;
    border-top: 5px solid rgb(66, 139, 202);
    border-right: 0px solid rgb(66, 139, 202);
    border-bottom: 5px solid rgb(66, 139, 202);
    border-left: 0px solid rgba(66, 139, 202, .2);
    animation: spinner 3s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}