.gameDetails-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.gameBackgroundContainer {
    position: absolute;
    width: 100%;
    height: 200px;
}

.gameBackground {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(17, 22, 26, 1));
}

.gameDetails-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 10px;
    margin-top: 100px;
    position: relative;
}

.gameOptions-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 20px;
    background-color: rgba(34, 34, 34, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.gameFrontPage {
    display: none;
    width: 300px;
    height: inherit;
    object-fit: cover;
}

.gameOptions-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: inherit;
    gap: 15px;
}

.gameOptions-box>div {
    gap: 5px;
    flex-wrap: wrap;
}

.gameTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#platformChoice {
    background-color: inherit;
    color: #ccc;
    border: 0;
    border-bottom: 1px solid #ccc;
}

#platformChoice>option {
    background-color: #121212;
    line-height: 50px;
}

.logoStock {
    width: 25px;
    height: 25px;
}

.gameTag {
    color: #ccc;
}

.description-box>p {
    letter-spacing: 1px;
}

.comment-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 20px;
    background-color: #121212;
    border-radius: 5px;
}

.comment-box>div{
    width: 100%;
}

.comment-box>div>textarea {
    width: 100%;
    height: 200px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ffc107;
    background-color: transparent;
    color: #fff;
}

.comment-box>div>button {
    width: 100%;
}

#deleteComment-btn, #editComment-btn{
    background: none;
    border: none;
}

#detailBtns-box {
    position: fixed;
    overflow: hidden;
    bottom: 10%;
    right: 4%;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 5px 2px #121212;
    z-index: 1;
}

#detailCart-btn,
#detailDelete-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#detailCart-btn>span {
    font-size: 30px;
    transition: transform .2s ease-in-out;
    position: absolute;
    overflow: hidden;
}

#detailCart-btn:hover span {
    animation: shakeCartAn .5s ease-in-out;
}

@keyframes shakeCartAn {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0);
        transform: scale(1);
    }
}

#detailCart-btn:focus>span {
    animation: cartAn .5s ease-in-out;
}

@keyframes cartAn {
    0% {
        transform: rotate(-25deg);
        left: 0;
    }

    25% {
        left: 60%;
    }

    50% {
        right: 100%;
    }

    75% {
        right: 0;
    }

    90% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#detailDelete-btn>i {
    transform: scale(1);
    transition: transform .5s linear;
}

#detailDelete-btn:focus>i {
    transform: scale(1.3);
}

.gameplay-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 200px;
}

.gameplay-box>iframe {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#otherGames-container {
    width: 90%;
}

#otherGames-box {
    gap: 50px;
}