rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Regla específica para permitir acceso público a la colección 'games'
    match /games/{document=**} {
      allow read: if true;  // Permite lectura pública
      allow write: if request.auth != null;  // Permite escritura solo si el usuario está autenticado
    }
    
    match /comments/{document=**} {
      allow read: if true;  // Permite lectura pública
    }

    // Regla general para todas las demás colecciones
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}