.tag-container{
    display: none;
}

#tags-games-box{
    margin: 40px 0;
}

.tagTitle-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffc107;
    width: 100%;
    margin-top: 20px;
}

.tagTitle-box > h2{
    display: flex;
    align-items: center;
    font-size: 1.7em;
}

.tagTitle{
    text-transform: capitalize;
}

#leftRow-icon{
    display: flex;
    align-items: center;
    color: #fff;
}

.tag-box{
    width: 100%;
    z-index: 3;
    position: absolute;
    backdrop-filter: blur(15px);
}

.tag-box > div{
    height: 40px;
}

#tag-games{
    gap: 50px 20px;
}

.currentTag{
    display: flex;
    align-items: center;
    color: #fff;
    text-shadow: 1px 1px 2px #ffc107;
    padding: 3px 5px;
    transition: all .3s;
    height: 100%;
}

.currentTag:hover{
    background-color: rgb(255, 193, 5, .9);
    color: #121212;
    text-shadow: 1px 1px 2px #121212;
}

.currentTag.focused{
    background-color: #ffc107;
    color: #121212;
    border-radius: 10px;
    text-shadow: 1px 1px 2px #121212;
    height: 30px;
}

#notFound-box{
    height: calc(100vh - 212px);
}