.wishlist-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 60px);
    width: 100%;
    margin: 60px 0;
}

.wishlist-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 20px;
    height: 100%;
    width: 80%;
}