#card-item_game {
    width: 200px;
    height: 170px;
    box-shadow: 2px 2px 5px 1px #000;
    position: relative;
}

button {
    font-size: 16px;
    padding: 10px;
}

#card-item_game>.card-body {
    display: flex;
    width: 100%;
    border-radius: 5px;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.img-games-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.img-games {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.prevGameplay {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    z-index: 0;
    opacity: 0;
    transition: all .2s linear;
}

.img-games-box:hover .prevGameplay {
    z-index: 1;
    opacity: 1;
    transform: scale(1.1);
    border-radius: 10px;
}

.card-body-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titlePrice-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px dashed #ffc107;
    padding: 7px 10px;
}

.card-title {
    margin: 0;
    font-size: 1.2em;
    z-index: 1;
    position: relative;
    color: #ffc107;
    text-shadow: 2px 2px 2px #121212;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
}

.card-price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 23px;
    font-size: .7em;
    color: #ffc107;
    text-shadow: 2px 2px 2px #121212;
}

#btns-box {
    position: absolute;
    top: 100%;
    margin: 10px 0;
}

#btns-box>button {
    text-shadow: 1px 1px 2px #121212;
    box-shadow: 2px 2px 4px 1px #000;
}

.card-title:hover {
    text-decoration: underline;
    background-color: rgb(0, 0, 0, .5);
    transition: all .3s linear;
}

.custom-popover {
    --bs-popover-max-width: 300px;
    --bs-popover-border-color: var(--bs-black);
    --bs-popover-header-bg: var(--bs-black);
    --bs-popover-header-color: var(--bs-warning);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}

#favorite-btn, #favoriteFill-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #121212;
    border: none;
    height: 20px;
    width: 20px;
    background-color: inherit;
    color: #ffc107;
    position: absolute;
    right: 0;
    margin: 10px;
    padding: 10px;
    z-index: 2;
    text-shadow: 1px 1px 2px #121212;
}

#favorite-btn{
    animation: favoriteAn .3s ease-in-out;
}

@keyframes favoriteAn {
    0%{
        transform: scale(.9);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    } 
}

#favoriteFill-btn{
    color: #d11313;
    font-size: 1.3em;
    animation: favoriteFillAn .3s ease-in-out;
}

@keyframes favoriteFillAn {
    0%{
        transform: scale(.9);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    } 
}

#info-btn,
#cart-btn,
#delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

#cart-btn>img{
    z-index: 20;
}

#cart-btn>span {
    font-size: 18px;
    transition: transform .2s ease-in-out;
    position: absolute;
    overflow: hidden;
}

#cart-btn:hover span {
    animation: shakeCartAn .5s ease-in-out alternate;
}

@keyframes shakeCartAn {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0);
        transform: scale(1);
    }
}

#cart-btn:focus>span {
    animation: cartAn .5s ease-in-out;
}

@keyframes cartAn {
    0% {
        transform: rotate(-25deg);
        left: 0;
    }

    25% {
        left: 60%;
    }

    50% {
        right: 100%;
    }

    75% {
        right: 0;
    }

    90% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#delete-btn>i {
    transform: scale(1);
    transition: transform .5s linear;
}

#delete-btn:focus>i {
    transform: scale(1.2);
}

#addGameCart-alert,
#delGameCart-alert {
    position: fixed;
    right: 0;
    bottom: 5%;
    margin: 0;
    padding: 10px;
    font-size: 15px;
    z-index: 2;
    animation: alertAn 1s linear;
}

@keyframes alertAn {
    0% {
        opacity: 1;
        right: -10%;
    }

    25% {
        right: 5%;
    }

    50% {
        opacity: .9;
    }

    100% {
        opacity: .5;
    }
}