#home-container{
    min-height: calc(100vh - 50px);
    padding-bottom: 60px;
}

#cardGames-container{
    margin-top: 20px;
}

.homeFilter-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homeTitle-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffc107;
    margin-left: 40px;
}

.homeTitle-box > h2{
    display: flex;
    align-items: center;
    font-size: 1.7em;
}

.homeTitle{
    text-transform: capitalize;
}

#filter-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: none;
    color: #fff;
    gap: 10px;
}

#filter-btn>span{
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

#cardGames-box {
    width: 100%;
    gap: 50px 20px;
}

