@media only screen and (min-width: 425px) {
    .logo-box{
        width: 100px;
    }
    
    #cart-icon{
        font-size: 1.4em;
    }

    .cart-box {
        max-width: 80%;
        align-self: center;
    }

    .gameDetails-box, #otherGames-container, #cards-games-box, #tags-games-box{
        width: 80%;
    }

    .frontPageCard-price{
        font-size: .9em;
    }
}

@media only screen and (min-width: 768px) {
    .logo-box{
        width: 120px;
    }

    .frontPage-container{
        height: 280px;
    }

    .frontPage-gradient {
        width: 70%;
    }

    .searchBar-container{
        height: 30px;
        flex: .6;
    }

    .search-bar{
        font-size: 1.1em;
    }

    .card-title-main{
        font-size: 1.5em;
    }

    .frontPageCard-price{
        font-size: 1em;
    }

    .cart-box {
        align-self: none;
    }

    .cartGamesResume-box {
        flex-direction: row;
    }

    .resumeGamesBox{
        min-width: 320px;
        align-self: flex-start;
    }

    .searchBar-container > form{
        width: 100%;
    }

    .navbar-collapse{
        flex: 0;
    }

    .gameplay-box{
        height: 350px;
    }

    .gameDetails-box{
        gap: 20px;
    }

    .gameDetails-box, #otherGames-container, #cards-games-box, #tags-games-box{
        width: 70%;
    }
}

@media only screen and (min-width: 1024px) {
    header{
        height: 60px;
    }

    .logo-box{
        width: 150px;
    }

    .searchBar-container{
        flex: .5;
    }

    #cart-icon{
        font-size: 1.6em;
    }

    .frontPage-container{
        height: 320px;
    }

    .frontPage-gradient {
        width: 65%;
    }

    .cartGamesResume-box{
        width: 80%;
    }

    .cart-box{
        max-height: 100px;
    }

    .gameBackgroundContainer{
        height: 560px;
    }

    .gameFrontPage{
        max-width: 70%;
    }

    .gameplay-box{
        height: 350px;
    }

    .gameDetails-box, #otherGames-container, #cards-games-box, #tags-games-box{
        width: 60%;
    }
}

@media only screen and (min-width: 1440px) {
    header{
        height: 70px;
    }

    .logo-box{
        width: 170px;
    }

    .searchBar-container{
        height: 40px;
    }

    .frontPage-container{
        height: 380px;
    }

    .frontPage-gradient {
        width: 70%;
    }

    .searchBar-container{
        width: 30%;
    }

    .gameplay-box{
        width: 85%;
    }

    .gameDetails-box{
        gap: 40px;
    }

    .gameDetails-box, #otherGames-container, #cards-games-box, #tags-games-box{
        width: 55%;
    }
}

@media only screen and (min-width: 2560px) {
    .frontPage-container{
        height: 600px;
    }
    
    .gameplay-box{
        height: 700px;
        width: 80%;
    }

    .gameDetails-box{
        gap: 40px;
    }
}