.frontPage-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    position: relative;
}

.frontPageImage-box {
    display: flex;
    height: 100%;
    width: 100%;
}

.frontPageImage-box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: 50% 100%;
}

.frontPage-gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to left, rgb(253, 8, 7, .6) 0%, rgb(0, 0, 0, .8) 100%);
}

.card-body-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    left: 10%;
    z-index: 2;
}

.card-title-main {
    text-shadow: 2px 2px 2px #000;
    font-size: 1.3em;
}

.card-title-main:hover {
    text-decoration: underline;
}

#btns-box {
    margin: 10px 0;
}

#btns-box>button {
    text-shadow: 1px 1px 2px #121212;
    box-shadow: 2px 2px 4px 1px #000;
}