.searchBar-container{
    flex: .7;
    max-width: 60%;
    justify-content: center;
    align-self: center;
    position: relative;
    height: 27px;
}

.searchBar-container > form{
    width: 100%;
}

.search-bar{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #ffc107;
    transition: all .2s linear;
}

.search-bar:focus{
    border-bottom: 1px solid #ffffff;
}

.search-bar, .search-bar::placeholder{
    font-size: .9em;
    color: #d4d4d4;
}

.gameSearched-box{
    position: absolute;
    top: 100%;
    left: 0%;
    margin-top: 5px;
    z-index: 5;
    border-radius: 5px;
    width: 98%;
    background-color: #121212;
}

.gameSearched-item{
    transition: all .2s linear;
    height: 100%;
}

.gameSearched-item:hover{
    background-color: #242424;
}

.gameSearched-link{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    color: #ffca2c;
    text-shadow: 1px 1px 2px #121212;
    font-size: 17px;
}

.gameSearched-link>img{
    width: 20%;
    object-fit: contain;
    border-radius: 5px;
}

.filter{
    display: none;
}