.searchBar-container {
    display: none;
    flex: 0;
    width: 0;
    justify-content: center;
    align-self: center;
    position: relative;
    height: 25px;
}

.searchBar-container.searchBarDeploy-container {
    display: flex;
    flex: 1;
    transition: all .3s linear;
}

.searchBar-container>form {
    width: 100%;
}

.search-bar {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #ffc107;
    transition: all .2s linear;
}

.search-bar:focus {
    border-bottom: 2px solid #ffffff;
}

.search-bar,
.search-bar::placeholder {
    font-size: .9em;
    color: #d4d4d4;
}

.gameSearched-box {
    position: absolute;
    top: 100%;
    left: 0%;
    margin-top: 5px;
    padding: 0;
    z-index: 5;
    border-radius: 5px;
    width: 100%;
    background-color: #121212;
}

.gameSearched-item {
    transition: all .2s linear;
    height: 100%;
}

.gameSearched-item:hover {
    background-color: #242424;
}

.gameSearched-link {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    color: #ffca2c;
    text-shadow: 1px 1px 2px #121212;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gameSearched-link>span {
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gameSearched-link>img {
    max-width: 15%;
    object-fit: contain;
    border-radius: 5px;
}

.filter {
    display: none;
}
