header{
    position: sticky;
    top: 0;
    z-index: 20;
    width: 100%;
}

.logo-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.logo-box > img{
    width: 100%;
}

#user-icon, #cart-icon {
    cursor: pointer;
}

#push-cart {
    font-size: 10px;
}

