header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 60px;
    /* background: linear-gradient(rgb(18, 18, 18, .9), rgba(0, 0, 0, 0)); */
    background-color: rgb(0, 0, 0);
}

header.headerBackground {
    background-image: none;
    margin-top: 10px;
    width: 100%;
    background-color: transparent;
}

header.headerBackground>nav {
    width: 80%;
    background-color: rgb(0, 0, 0, .6);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    padding: 8px 10px;
    transition: width .2s linear;
}

header>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 10px;
    transition: width .2s linear;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
}

.logo-box>img {
    width: 100%;
}

#search-icon {
    cursor: pointer;
}

#cart-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em;
}

#push-cart {
    font-size: .4em;
}

.cartHeader-container {
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;
}

#wishlistHeader-icon {
    display: flex;
    color: #ffc107;
    background-color: inherit;
    border: none;
    padding: 0;
    text-shadow: 1px 1px 2px #121212;
}