header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 50px;
    background: linear-gradient(rgb(17, 22, 26, .9), rgba(0, 0, 0, 0));
    transition: all .2s linear;
}

header.headerBackground {
    background-image: none;
    margin-top: 10px;
    width: 100%;
}

header.headerBackground>nav{
    width: 80%;
    background-color: rgb(0, 0, 0, .7);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

header>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 10px 20px;
    gap: 10px;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
}

.logo-box>img {
    width: 100%;
}

#search-icon{
    cursor: pointer;
}

.categories-container{
    display: flex;
    flex-direction: column;
    position: relative;
}

.categories-container:hover .tag-box {
    visibility: visible;
    transition: all .3s linear;
}

.categories-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.categories-box>span{
    color: #ccc;
}

.categories-box>button{
    display: flex;
    color: #ffc107;
    background: none;
    border: none;
    padding: 5px;
}

.categories-box>button>span{
    transition: all .1s linear;
}

.categories-box:hover > button> span{
    transform: rotate(180deg);
}

#cart-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em;
}

#push-cart {
    font-size: .4em;
}

.cartHeader-container {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.cartGamesPrev-box {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 200px;
    max-height: 300px;
    position: absolute;
    top: 160%;
    right: 0%;
    margin: 0;
    padding: 0;
    border-radius: 7px;
    background-color: rgb(59, 59, 59);
    overflow: hidden;
    transition: all .2s linear;
    z-index: 40;
    box-shadow: 0px 0px 4px 2px rgba(17, 17, 17, 0.8);
}

.cartPrev-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    margin: 0;
    padding: 5px 0;
    background-color: #ffc107;
    color: #141414;
    border-bottom: 1px solid #141414;
}

.startDeploy-icon {
    position: absolute;
    left: 0%;
    top: 100%;
    font-size: 1.2em;
}

.cartGamePrev-item>div {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 5px 10px;
    background-color: rgb(32, 32, 32);
    border-bottom: 1px solid #777777;
    border-top: 1px solid #777777;
    transition: all .2s linear;
}

.cartGamePrev-item > div:hover {
    background-color: rgb(32, 32, 32, .6);
    box-shadow: 0px 0px 3px 1px rgb(180, 180, 180, .8);
}

.cartGamePrev-item>div>img {
    object-fit: contain;
    width: 35%;
    border-radius: 5px;
}

.cartPrev-body>a{
    text-shadow: 0px 1px 1px #141414;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
}

.cartPrev-body>a:hover {
    text-decoration: underline;
}

.cartPrev-bottom > button>i{
    text-shadow: 1px 1px 1px #141414;
}

.emptyCart-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 0;
    background-color: rgb(34, 34, 34, .9);
}

.separator {
    width: 65%;
    margin: 0 auto;
    border-width: 1px;
    opacity: 1;
    border-radius: 20px;
    margin-top: 10px;
    color: #ffc107;
}

.deployPrevGames-icon {
    cursor: pointer;
    user-select: none;
}

#wishlistHeader-icon{
    display: flex;
    color: #ffc107;
    background-color: inherit;
    border: none;
    padding: 0;
    text-shadow: 1px 1px 2px #121212;
}

/* Ancho del scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Fondo del scrollbar */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Color de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Hover del scrollbar */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}