/* Carousel styles */

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: relative;
}

.carousel-container.zoomActive {
    position: fixed;
    height: calc(100%);
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, .8);
    z-index: 100;
    overflow: hidden;
}

.carousel-container.zoomActive>.zoomBtn-box {
    height: 50%;
}

.carousel-container.zoomActive>.zoomBtn-box>.zoom {
    visibility: hidden;
}

.carousel-container.zoomActive>.carousel-box>.carousel-item>img {
    border-radius: 0;
}

.carousel-box{
    display: flex;
    position: relative;
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
    box-sizing: border-box;
    width: 100%;
}

.carousel-item.show {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.carousel-item>img {
    box-shadow: 0 0 4px 2px #121212;
    user-select: none;
    border-radius: 10px;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.carouselBtn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Icons carousel and zoom */

.carouselBtn-box>button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #be9001;
    text-shadow: 1px 1px 3px #000;
    cursor: pointer;
    transition: all .5s linear;
    background-color: transparent;
    border: none;
}

.carouselBtn-box>button:active {
    transform: scale(0.6);
}

.zoomBtn-box {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.zoomBtn-box>.zoom {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    height: inherit;
    font-size: 35px;
    color: #be9001;
    text-shadow: 1px 1px 3px #000;
    cursor: zoom-in;
    user-select: none;
    z-index: 1;
    background-color: transparent;
    border: none;
}

.closeBtn-box {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 100%;
    height: 90%;
    position: absolute;
}

.closeBtn-box>.close {
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 35px;
    color: #dc3545;
    text-shadow: 1px 1px 3px #000;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    border: none;
}