@media (max-width: 425px) {
    .carousel-container {
        height: 150px;
    }

    .carousel-container.zoomActive>.carousel-box {
        height: 200px;
    }
    .carousel-container.zoomActive>.closeBtn-box {
        height: 35%;
    }
}

@media only screen and (min-width: 426px) {
    .carousel-container.zoomActive>.carousel-box {
        height: 300px;
    }
}

@media (min-width: 625px) {
    .carousel-container.zoomActive>.carousel-box {
        height: 440px;
    }
}

@media (min-width: 850px) {

    .carousel-container.zoomActive>.zoomBtn-box {
        height: 90%;
        width: 85%;
    }

    .carousel-container.zoomActive .carouselBtn-box {
        width: 85%;
    }

    .carouselBtn-box>button {
        font-size: 70px;
    }

    .zoomBtn-box>button {
        font-size: 45px;
    }

    .zoomBtn-box>.close {
        font-size: 40px;
    }

    .zoomBtn-box>a {
        font-size: 35px;
    }
}

@media (min-width: 1140px) {
    .carousel-container {
        width: 60%;
    }

    .carousel-container.zoomActive>.zoomBtn-box {
        height: 90%;
        width: 80%;
    }

    .carousel-container.zoomActive .carouselBtn-box {
        width: 80%;
    }
}

@media (min-width: 1440px) {
    .carousel-container {
        height: 300px;
        width: 55%;
    }

    .carousel-container.zoomActive>.carousel-box {
        width: 90%;
        height: 50%;
    }

    .carousel-container.zoomActive>.zoomBtn-box {
        height: 60%;
        width: 90%;
    }

    .carousel-container.zoomActive .carouselBtn-box {
        width: 90%;
    }

    .carouselBtn-box>button {
        font-size: 70px;
    }

    .zoomBtn-box>button {
        font-size: 45px;
    }

    .zoomBtn-box>.close {
        font-size: 50px;
    }

    .zoomBtn-box>a {
        font-size: 35px;
    }
}