footer{
    background-color: #000;
}

.footerNav-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerNav-item > a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #fff;
}

.footerNav-item > a > i{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 27px;
    margin-right: 10px;
    transition: all .2s linear;
}

.footerNav-item > a > span{
    color: #fff;
    text-decoration: underline;
    transition: all .2s linear;
}

.footerNav-item > a > span:hover{
    color: #00aaff;
}

.copyright{
    font-size: 1em;
    color: #fff;
}

.footerLogo-box{
    width: 15%;
}

.footerLogo-box > img{
    width: 100%;
}


@media only screen and (min-width: 425px) {
    .copyright{
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 768px) {
    .copyright{
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1440px) {
    .copyright{
        font-size: 1.4em;
    }
}