/* Home responsive styles */

@media only screen and (min-width: 750px) {
    #cards-games-box {
        gap: 10px;
        width: 90%;
    }

    .frontPage-container {
        width: 100%;
        position: relative;
        height: 300px;
    }
}